#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.status-text {
  color: rgb(107, 129, 255);
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 1rem
}